#hidden {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, textarea {
    padding: 6px;
    border: 2px solid #FF5666;
    
}

h1 a:hover, h1 a:focus{
    color: #FF5666;
}

h2 {
    font-weight: bold;
    font-family: monospace, Times, serif;
    font-size: 4vw;
    padding: 2rem;
    text-align: center;
    
}

button {
    background-color: #2E5339; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 15%;
    text-align: center;
    font-size: 16px;
}

button:hover {
    opacity: .7;
}
  

@media screen and (min-width: 701px) {
    #hidden {
        display: none;
    }

    form {
        border: #495F41 solid 1vw;
        padding: 1rem;
    }
}

@media screen and (min-width: 1281px) {
    #hidden {
        display: inline-block;
        filter: blur(4px);
        -webkit-filter: blur(4px);
        margin: auto;
    }

    #main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }

    form {
        grid-column: 2;
        grid-row: 2;
        align-items: start;
    }

    input {
        width: 100%;
    }

    button {
        margin: 5% 0px 0px 0px;
    }
    
    h1 {
        padding: 2rem;
    }

    
}      


  
  
  
  
  
 